/*BootStrap Styles */

.carousel-item img {
    max-height: 600px;
    object-fit: cover;
}

.carousel-item video {
    max-height: 600px;
    object-fit: cover !important;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}
.carousel-indicators button {
    margin: 0 5px;
    border: none !important;
}

.carousel-indicators button.active {
    background-color: #0f6aa7 !important;
}

.carousel-indicators button:not(.active) {
    background-color: #ec7c2f !important;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ec7c2f' stroke-width='1'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
    width:90px !important;
    height: 90px !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ec7c2f' stroke-width='1'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
width: 90px !important;
    height: 90px !important;
}
.btn-warning {
    background-color: #ec7c2f !important;
}
.btn-warning:hover {
    opacity: 80%;
}
.btn-warning:focus {
    background-color: #ec7c2f !important;
    border-color: #ec7c2f !important;
}

.form-control::placeholder {
    color: #d0d3d9 !important;
    font-weight: 500;
    opacity: 1; 
}
.offcanvas {
    --bs-offcanvas-width: 400px;
}
.btn.text-blue:hover,
.btn.text-orange:hover {
    background-color: #f4f4f5; 
    transition: background-color 0.3s ease; 
}
.btn.text-blue:active,
.btn.text-orange:active {
    background-color: #f4f4f5 !important;
    border-color: #f4f4f5 !important; 

}

.btn.text-blue:focus,
.btn.text-orange:focus {
    background-color: #f4f4f5 !important;
    border-color: #f4f4f5 !important; 
}

/*Our Styles*/

.bg-gray-test {
    background-color: #f2f2f2 !important;
}
.bg-blue-color {
    background-color: #0f69a7 !important;
}
.text-blue{
    color: #0f69a7 !important;
}
.image-container {
    position: relative;
    padding: 20px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros-img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    display: block;
}


.decorative-border {
    position: absolute;
    right: 35px; 
    top: -10px; 
    z-index: 1;
    width: 90%;
    height: 80%;
    border: 8px solid white;
    box-sizing: border-box;
}

.puntos-blancos {
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: 1;
    width: 85%;
    height: 80%;
    object-fit: contain;
}
.text-orange {
    color: #ec7c2f !important;
}


.home-hover-color {
    transition: color 0.3s ease, 0.3s ease; 
}

.home-hover-color:hover {
    color: #ec7c2f !important;

    outline: none;
}

.border-gray-bottom {
    border-bottom: 18px solid #c4c4c4;
}

.border-warning-subtle-right {
    border-right: 6px solid #ec7c2f !important;
    font-size: 18px;
}
.text-justify-custom {
    text-align: justify !important;
    -webkit-text-align-last: left;
    -moz-text-align-last: left;
    text-align-last: left;
}

.padding-middle {
    padding-top: 160px;
    padding-bottom: 160px;
}

.bg-primary-color-text {
    color: #0f6aa7;
    font-weight: normal;
}
.test-border-top{
    border-top: 8px solid #ec7c2f;
}

.h-25 {
    height: 150px !important;
}

.check-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 10px;
}
.peru-map {
    width: 268px;
  }
  
.text-content {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* autenticacion de login */
.btn-eye {
    border: 1px solid #dee2e6 !important;
}
.btn-eye:hover{
    opacity: 80%;
}
.btn-eye .eye-icon {
    stroke: #0f69a7;
}

/* panel de control */

.card-img-container {
    height: 200px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    width: 100%; 
    height: auto;
    padding: 50px;
}
.product-card {
    transition: all 0.3s ease;
}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.search-product{
    max-width: 600px;
}
.search-product:active{
    border-color:  #6c757d !important;
    box-shadow: none !important;
}
.search-product:focus{
    border-color:  #6c757d !important;
    box-shadow: none !important;
}
.custom-filter-item {
    background-color: #f6f6f7 !important; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 15px; /* Separación entre elementos */
    border: none !important; /* Sin borde */
    padding: 12px 16px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    height: 40px !important;
    transition: background-color 0.3s ease; /* Transición suave */
}

.custom-filter-item:hover {
    background-color: #0d5a8f !important;
    color: rgb(255,255,255) !important;

}

@media (min-width: 576px) {
    .card-img-top {
        padding: 165px;
    }
 }


@media (min-width: 768px) { 
    /* .vertical-line-white{
        border: none;
    } */
    
    .border-warning-subtle-right {
        border-right: none !important;
        border-bottom: 6px solid #ec7c2f !important;
    }

    .padding-middle {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
    .text-container {
        padding: 1rem 2rem;
        text-align: center;
    }
    
    .image-container {
        margin-top: 2rem;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .puntos-blancos {
        right: -20px;
        bottom: -20px;
    }

    .decorative-border {
        right: 100px;
        top: -40px;
        width: 90%;
        height: 100%;
        border: 10px solid white; 
    }
    .peru-map {
        max-width: 200px;
      }
      
    .text-md-end {
        text-align: center !important; /* Alinear texto al centro en móviles */
    }
    .card-img-top {
        padding: 60px;
    }
}


@media (min-width: 992px) { 
    .vertical-line-white{
        border-right: 2px solid #fff;
    }
    .card-img-top {
        padding: 40px;
    }
}


@media (min-width: 1200px) { 
    .peru-map{
        max-width: 600px !important;

    }
    .card-img-top {
        padding: 70px;
    }
 }


@media (min-width: 1400px) {

    .peru-map{
        width: 450px !important;
        height: 450px !important;
    }
    .card-img-top {
        padding: 120px;
    }
 }